.stage-header {
    text-align: center;
    background-color: lightblue;
    padding: 20px 8px;
    border-left: 20px solid lightcoral;
    border-right: 20px solid lightcoral;
    margin: 25px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.164), 0 9px 25px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
}

.stage-description {
    text-align: center;
    font-style: italic;
    background-color: lightgoldenrodyellow;
    padding: 10px 8px;
    margin: 25px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.164), 0 9px 25px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
}

.contestants {
    display: flex;
    justify-content: center;
}
